* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Poppins";
  background-color: hsl(0, 0%, 98%);
  margin-top: 50px;
}

h1,
#p_main {
  text-align: center;
  font-size: 2.5rem;
  color: hsl(234, 12%, 34%);
}

.main_header {
  max-width: 550px;
  margin: auto;
}

#header {
  font-weight: 300;
}

#p_main {
  font-weight: 600;
}

#p_info {
  text-align: center;
  margin-top: 30px;
  font-size: 1rem;
}

h2 {
  color: hsl(234, 12%, 34%);
}

div p {
  color: hsl(229, 6%, 66%);
}

#red {
  border-top: 3px solid hsl(0, 78%, 62%);
  grid-area: 1 / 2 / 3 / 3;
}

#cyan {
  border-top: 3px solid hsl(180, 62%, 55%);
  grid-area: 2 / 1 / 4 / 2;
}

#orange {
  border-top: 3px solid hsl(34, 97%, 64%);
  grid-area: 3 / 2 / 5 / 3;
}

#blue {
  border-top: 3px solid hsl(212, 86%, 64%);
  grid-area: 2 / 3 / 4 / 4;
}

.container_main {
  max-width: 100%;
  padding-inline: 2rem;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  justify-content: center;
  margin-top: 50px;
  gap: 2rem;
}

.content_box {
  box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.288);
  border-radius: 5px;
  padding: 25px;
  max-width: 22rem;
  background-color: white;
}

.content_box p {
  padding-top: 10px;
}

.svg_icon {
  display: inline;
  float: right;
  padding-top: 50px;
}

@media (max-width: 1050px) {
  .container_main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content_box {
    min-width: 100%;
  }
  .main_header {
    padding-inline: 1rem;
  }
}
